.task-form {
    margin-bottom: 20px;
  }
  
  .input-field,
  .select-field {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    width: 200px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #b30000; 
  }
  